:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    flex: 1;
    padding: 1.5rem 2rem 6rem;
    /* bottom padding for fixed player */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 640px) {
    .app-content {
        padding: 1rem 1rem 5rem;
    }
}